

.btn.ui.button {
    background-color: rgb(195, 193, 193);
    color: black;
}



.btn.ui.button:hover {
    background-color: darkgray;
}

.btn-cancel.ui.button {
    background-color: gray;
    color: black;
}

.btn-cancel.ui.button:hover {
    background-color: rgb(92, 87, 87);
}

.create-input.ui {
    align-self: center;
}

.background.ui.segment{
    background-color: #44444c;
}

.thing-tsb-white.ui.header{
    color:white;
}

.thing-tsb-white.ui.button{
    background-color: #3e3e46;
    color: white;
}

.table-format.ui.table{
    background-color: #44444c;
    color: white;
    border-color: black;
}

.table-header-format.ui.headercell.table{
    background-color: #44444c;
    border-color: black;
}



